<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trasen.tsproject.dao.TbHtHandoverMapper" >
    <select id="getHandover" parameterType="com.trasen.tsproject.model.TbHtHandover" resultType="com.trasen.tsproject.model.TbHtHandover">
        select * from tb_ht_handover where ht_no = #{htNo} and `type` = #{type}
        <if test="changeNo!=null"> and change_no = #{changeNo}  </if>
        limit 1
    </select>

    <select id="getHandoverToPkid" parameterType="Integer" resultType="com.trasen.tsproject.model.TbHtHandover">
        select * from tb_ht_handover where pkid=#{pkid} limit 1
    </select>


    <insert id="insertHandover" parameterType="com.trasen.tsproject.model.TbHtHandover">
        insert into tb_ht_handover (ht_no,ht_name,customer_name,`type`,status,ht_owner,
        sign_date,pro_manager,pro_phone,content,created,create_user,change_no) values
        (#{htNo},#{htName},#{customerName},#{type},0,#{htOwner},
        #{signDate},#{proManager},#{proPhone},#{content},now(),#{createUser},#{changeNo})
    </insert>

    <update id="updateHandover" parameterType="com.trasen.tsproject.model.TbHtHandover">
        update tb_ht_handover set ht_name=#{htName},customer_name=#{customerName},
        ht_owner=#{htOwner},sign_date=#{signDate},
        pro_manager=#{proManager},pro_phone=#{proPhone},
        content=#{content},updated=now(),operator=#{operator} 
        where pkid = #{pkid}
    </update>
    
    <update id="submitHandover" parameterType="com.trasen.tsproject.model.TbHtHandover">
        update tb_ht_handover set process_id=#{processId},status=1,updated=now(),operator=#{operator}  where pkid=#{pkid}
    </update>

    <select id="getHtHandoverList" parameterType="com.trasen.tsproject.model.TbHtHandover" resultType="com.trasen.tsproject.model.TbHtHandover">
        select * from tb_ht_handover where 1=1
        <if test="htNo!=null">and (ht_no like CONCAT('%',#{htNo},'%') or ht_name like CONCAT('%',#{htName},'%') or customer_name like CONCAT('%',#{customerName},'%'))</if>
        <if test="type!=null"> and `type`=#{type}</if>
        <if test="nowStep!=null"> and now_step like CONCAT('%',#{nowStep},'%') </if>
    </select>

    <select id="getMsgToTaskId" parameterType="String" resultType="com.trasen.tsproject.model.TbMsg">
        select * from tb_msg where task_id = #{taskId}

    </select>


    <select id="selectProjectArrangeList" parameterType="com.trasen.tsproject.model.TbHtHandover" resultType="com.trasen.tsproject.model.TbHtHandover">
        select * from tb_ht_handover where `status`=2
        <if test="proManager!=null">and (ht_no like CONCAT('%',#{htNo},'%') or ht_name like CONCAT('%',#{htName},'%') or customer_name like CONCAT('%',#{customerName},'%') or pro_manager like CONCAT('%',#{proManager},'%'))</if>
        <if test="isArrange!=null">and is_arrange=#{isArrange}</if>
    </select>

    <update id="updateProManage" parameterType="com.trasen.tsproject.model.TbHtHandover" >
        update tb_ht_handover set pro_manager=#{proManager},pro_phone=#{proPhone},is_arrange=1,arrange_time=#{arrangeTime} where pkid=#{pkid}
    </update>

    <select id="getProductByHtNo" parameterType="String" resultType="com.trasen.tsproject.model.TbProduct">
      select pro.* from tb_ht_handover hand LEFT JOIN tb_ht_resolve res on hand.ht_no=res.ht_no LEFT JOIN tb_product pro on res.pro_code=pro.pro_code where hand.ht_no=#{htNo}
    </select>

    <select id="getProductByChangeNo" parameterType="String" resultType="com.trasen.tsproject.model.TbProduct">
        select pro.* from tb_ht_handover hand LEFT JOIN tb_ht_resolve res on hand.change_no=res.ht_no LEFT JOIN tb_product pro on res.pro_code=pro.pro_code where hand.change_no=#{changeNo}
    </select>

    <update id="updateProPlan" parameterType="com.trasen.tsproject.model.TbHtHandover">
        update tb_ht_handover set pro_plan_time=#{proPlanTime},is_pro_plan=#{isProPlan} where pkid=#{pkid}
    </update>

    <select id="selectByProcessId" parameterType="String" resultType="com.trasen.tsproject.model.TbHtHandover">
        select * from tb_ht_handover where process_id=#{processId}
    </select>
    
    <select id="queryHandOverByOwerOfType" parameterType="java.util.Map" resultType="String">
        select ht_no from tb_ht_handover where  `type`='NEW'
        <if test="contractOwner!=null"> and ht_owner=#{contractOwner}</if>
    </select>

    <select id="queryHandOverList" parameterType="java.util.Map" resultType="com.trasen.tsproject.model.TbHtHandover">
        select * from tb_ht_handover where status!=2
        <if test="htOwner!=null and htOwner!=''"> and ht_owner=#{htOwner}</if>
    </select>

</mapper>