<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trasen.tsproject.dao.TbHtChangeMapper" >

  <select id="getHtChangeList" parameterType="com.trasen.tsproject.model.TbHtChange" resultType="com.trasen.tsproject.model.TbHtChange">
    select * from tb_ht_change where 1=1
    <if test="htNo!=null">and (ht_no like CONCAT('%',#{htNo},'%') or ht_name like CONCAT('%',#{htName},'%') or customer_name like CONCAT('%',#{customerName},'%'))</if>
    <if test="type!=null"> and `type`=#{type}</if>
    <if test="status!=null"> and status=#{status}</if>
  </select>
  
  <insert id="saveHtChange" parameterType="com.trasen.tsproject.model.TbHtChange" useGeneratedKeys="true" keyProperty="pkid">
    insert into tb_ht_change(ht_no,ht_name,customer_name,`type`,status,ht_owner,sign_date,change_content,work_num,application_dept,create_user,created,process_id,remark)
     values(#{htNo},#{htName},#{customerName},#{type},#{status},#{htOwner},#{signDate},#{changeContent},#{workNum},#{applicationDept},#{createUser},#{created},#{processId},#{remark})
  </insert>

  <update id="updateHtChange" parameterType="com.trasen.tsproject.model.TbHtChange">
    update tb_ht_change set process_id=#{processId} where pkid=#{pkid}
  </update>
  
  <select id="queryHtChangeByProcess" resultType="com.trasen.tsproject.model.TbHtChange" parameterType="String">
    select * from tb_ht_change where process_id=#{processId} limit 1
  </select>

</mapper>