<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trasen.tsproject.dao.TbHtModuleChangeMapper" >
  <insert id="saveHtModuleChange" parameterType="com.trasen.tsproject.model.TbHtModuleChange">
    insert into tb_ht_module_change(ht_no,pro_code,mod_id,price,updated,created,operator,`type`) values(#{htNo},#{proCode},#{modId},#{price},#{updated},#{created},#{operator},#{type})
  </insert>

  <select id="selectOldModuleList" parameterType="String" resultType="String">
    select CONCAT(mo.mod_id,",",pro.mod_name)  from tb_ht_module_change mo,tb_pro_module pro where mo.mod_id=pro.mod_id and mo.type='old' and mo.ht_no=#{htNo}
  </select>

  <select id="selectNewModuleList" parameterType="String" resultType="String">
    select CONCAT(mo.mod_id,",",pro.mod_name)  from tb_ht_module_change mo,tb_pro_module pro where mo.mod_id=pro.mod_id and mo.type='new' and mo.ht_no=#{htNo}
  </select>
</mapper>