<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trasen.tsproject.dao.TbHtAnalyzeMapper" >
  <select id="selectAnalyzeList" parameterType="String" resultType="com.trasen.tsproject.model.TbHtAnalyze">
    SELECT
	re.ht_no,
	pro.dep_id,
	pro.dep_name,
	pro.pro_name,
	pro.pro_code,
	re.pro_man
FROM
	tb_ht_resolve re,
	tb_product pro
WHERE
	re.pro_code = pro.pro_code
AND re.ht_no =#{htNo}
  </select>

	<delete id="deleteAnaly" parameterType="String">
		delete from tb_ht_analyze where ht_no=#{htNo}
	</delete>

	<insert id="saveAnaly" parameterType="com.trasen.tsproject.model.TbHtAnalyze">
		insert into tb_ht_analyze(ht_no,handover_id,operator,status,process_id) values(#{htNo},#{handoverId},#{operator},#{status},#{processId})
	</insert>
	
	<select id="selectPersonJson" parameterType="com.trasen.tsproject.model.TbHtAnalyze" resultType="String">
		select GROUP_CONCAT(an.operator SEPARATOR ',') from tb_ht_analyze an where ht_no=#{htNo} and pro_code=#{proCode}
	</select>

	<select id="getSelectJson" parameterType="String" resultType="com.trasen.tsproject.model.Select">
		SELECT
		an.operator AS id,
		per.`name` AS text
		FROM
		tb_ht_analyze an,
		tb_personnel per
		WHERE
		an.operator = per.work_num
		AND an.ht_no = #{htNo}
	</select>
</mapper>