<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trasen.tsproject.dao.TbHtProductMapper">

  <select id="selectTbHtProductById" parameterType="String" resultType="com.trasen.tsproject.model.TbHtProduct">
    select * from tb_ht_product where pkid=#{pkid}
  </select>
  <select id="selectTbHtProductByHtNo" parameterType="String" resultType="com.trasen.tsproject.model.TbHtProduct">
    SELECT
	hpro.*, pro. NAME AS productName,
	dept.dep_name AS depName,
	dic.code as productMoreCode,
  dic.name  as productMoreName
FROM
	tb_ht_product hpro
LEFT JOIN tb_product pro ON pro.pkid = hpro.product_id
LEFT JOIN twf_dict dic ON dic.`code`=pro.`code`
LEFT JOIN tb_dept dept ON dept.dep_id = hpro.dep_id where hpro.ht_no=#{htNo}
  </select>
  
  <insert id="saveTbHtProduct" parameterType="com.trasen.tsproject.model.TbHtProduct" useGeneratedKeys="true" keyProperty="pkid">
    insert into tb_ht_product(ht_no,product_id,output_value,subtotal,standard_price,dep_id) value(#{htNo},#{productId},#{outputValue},#{subtotal},#{standardPrice},#{depId})
  </insert>

    <update id="updateTbHtProduct" parameterType="com.trasen.tsproject.model.TbHtProduct">
        update tb_ht_product set output_value=#{outputValue},subtotal=#{subtotal},standard_price=#{standardPrice} where pkid=#{pkid}
    </update>
  
  <select id="selectStandardPrice" parameterType="com.trasen.tsproject.model.TbStandardPrice" resultType="com.trasen.tsproject.model.TbStandardPrice">
    select * from tb_standard_price where product_id=#{productId} and hospital_level=#{hospitalLevel}
  </select>
  
</mapper>