<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trasen.tsproject.dao.TbHtResolveMapper" >
    <insert id="saveHtResolve" parameterType="com.trasen.tsproject.model.TbHtResolve" useGeneratedKeys="true" keyProperty="pkid">
        insert into tb_ht_resolve(pro_code,price,subtotal,total,output_value,created,updated,operator,ht_no,pro_man) values(#{proCode},#{price},#{subtotal},#{total},#{outputValue},now(),#{updated},#{operator},#{htNo},#{proMan})
    </insert>
    <select id="queryHtResolve" parameterType="String" resultType="com.trasen.tsproject.model.TbHtResolve">
        select p.dep_name,p.dep_id,p.pro_name,r.* from tb_ht_resolve r join tb_product p on r.pro_code = p.pro_code where r.ht_no=#{htNo} order by p.dep_id
    </select>

    <delete id="deleteHtResolve" parameterType="String">
        delete from tb_ht_resolve where ht_no=#{htNo}
    </delete>

    <update id="updateResolveTotal" parameterType="com.trasen.tsproject.model.TbHtResolve">
        update tb_ht_resolve set total=#{total},updated=now(),operator=#{operator} where pkid=#{pkid}
    </update>

    <update id="updateProMan" parameterType="com.trasen.tsproject.model.TbHtResolve">
        update tb_ht_resolve set pro_man=#{proMan} where ht_no=#{htNo}
    </update>
</mapper>