<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trasen.tsproject.dao.TbMsgMapper" >
  <select id="selectTbMsg" parameterType="java.util.Map" resultType="com.trasen.tsproject.model.TbMsg">
    SELECT
    msg.*
    FROM
    tb_msg msg
    LEFT JOIN tb_personnel per ON per.work_num = msg.work_num
    LEFT JOIN t_user t_u ON t_u.per_id = per.per_id
    where t_u.pkid=#{userId}
    <if test="type!=null and type!=''"> and msg.`type`=#{type}</if>
    <if test="status!=null and status!=''">and msg.status=#{status}</if>
    <if test="selectName!=null and selectName!=''"> and (msg.msg_content like CONCAT('%',#{selectName},'%')  or msg.msg_content like CONCAT('%',#{selectName},'%') or msg.msg_content like CONCAT('%',#{selectName},'%'))</if>
    order by msg.send_time desc
  </select>

<!--  <select id="selectTodoMeg" parameterType="java.util.Map" resultType="com.trasen.tsproject.model.TbMsg">
    SELECT
    msg.*
    FROM
    tb_msg msg
    LEFT JOIN tb_personnel per ON per.work_num = msg.work_num
    LEFT JOIN t_user t_u ON t_u.per_id = per.per_id
    LEFT JOIN tb_ht_handover hd ON hd.process_id=msg.process_id
    where t_u.pkid=#{userId}
    <if test="type!=null and type!=''"> and msg.`type`=#{type}</if>
    <if test="status!=null and status!=''">and msg.status=#{status}</if>
    <if test="selectName!=null and selectName!=''"> and (hd.ht_no like CONCAT('%',#{selectName},'%')  or hd.ht_name like CONCAT('%',#{selectName},'%') or hd.customer_name like CONCAT('%',#{selectName},'%'))</if>
    order by msg.send_time desc
  </select>-->

  <select id="getTbMsgById" parameterType="Integer" resultType="com.trasen.tsproject.model.TbMsg">
    select * from tb_msg where pkid=#{pkid}
  </select>

  <update id="updateTbMsgStatus" parameterType="Integer">
    update tb_msg set status=1 where pkid=#{pkid}
  </update>

  <update id="updateTbMsgStatusAndRemark" parameterType="com.trasen.tsproject.model.TbMsg">
    update tb_msg set status=#{status},remark=#{remark},updated = now() where pkid=#{pkid}
  </update>

  <select id="getPersonTags" resultType="Map" parameterType="String">
    select tag.tag_id,tag.work_num,u.display_name from tb_tag_personnel tag
    join tb_personnel p on p.work_num = tag.work_num
    join t_user u on u.per_id=p.per_id
    where u.pkid=#{userId}
  </select>

  <select id="countMsgByTaskId" parameterType="Map" resultType="Integer">
    select count(*) from tb_msg where task_id = #{taskId} and work_num = #{workNum}
  </select>

  <insert id="insertMsg" parameterType="com.trasen.tsproject.model.TbMsg">
    insert into tb_msg (`type`,work_num,`name`,send_work_num,send_name,msg_content,send_time,
    process_key,process_id,task_key,task_id,status,title,remark)
    values (#{type},#{workNum},#{name},#{sendWorkNum},#{sendName},#{msgContent},#{sendTime},
    #{processKey},#{processId},#{taskKey},#{taskId},#{status},#{title},#{remark})
  </insert>
  
  <update id="confirmAnalyze" parameterType="Map">
    update tb_ht_analyze set status=1 where process_id=#{processId} and operator=#{operator}
  </update>

  <select id="queryNoConfirm" parameterType="String" resultType="Integer">
    select count(*) from tb_ht_analyze where status=0 and process_id=#{processId}
  </select>

  <select id="getButtonStatus" parameterType="java.util.Map" resultType="int">
    select count(*) from twf_dict where `name`=#{name} and `type`=#{type} and is_vaild=1
  </select>

  <select id="getHandOverToProcessId" resultType="com.trasen.tsproject.model.TbHtHandover" parameterType="String">
    select * from tb_ht_handover where process_id = #{processId} limit 1
  </select>

  <select id="getProcessToAnalyze" parameterType="String" resultType="String">
    select process_id from tb_ht_analyze where operator = #{workNum} and status=0
  </select>

  <select id="queryAnalyze" resultType="com.trasen.tsproject.model.TbHtAnalyze" parameterType="String">
    select * from tb_ht_analyze where process_id = #{processId}
  </select>

  <update id="pbReCheck" parameterType="String">
    update tb_ht_analyze set status = 0 where process_id = #{processId}
  </update>

  <update id="updateNowStep" parameterType="Map">
    update tb_ht_handover set now_step = #{nowStep},updated=now(),operator=#{operator}
    where process_id = #{processId}
  </update>

  <update id="updateHtChangeNowStep" parameterType="Map">
    update tb_ht_change set now_step = #{nowStep}
    where process_id = #{processId}
  </update>

  <select id="gethtChangeToProcessId" resultType="com.trasen.tsproject.model.TbHtChange" parameterType="String">
    select * from tb_ht_change where process_id = #{processId} limit 1
  </select>

  <update id="updatehtChangeStatus" parameterType="java.util.Map">
    update tb_ht_change set status=#{status} where process_id=#{processId}
  </update>


  <update id="updateRecount" parameterType="Map">
    update tb_ht_handover set is_recount = 1,recount_time=now(),operator=#{operator}
    where process_id = #{processId}
  </update>

  <update id="updateConfirm" parameterType="Map">
    update tb_ht_handover set is_confirm = 1,confirm_time=now(),operator=#{operator}
    where process_id = #{processId}
  </update>

  <update id="updateArrange" parameterType="Map">
    update tb_ht_handover set is_arrange = 1,arrange_time=now(),operator=#{operator}
    where process_id = #{processId}
  </update>

  <update id="updateStatus" parameterType="Map">
    update tb_ht_handover set status = #{status},updated=now(),operator=#{operator}
    where process_id = #{processId}
  </update>

  <select id="countTodoMsg" resultType="Integer" parameterType="String">
    SELECT count(*) FROM tb_msg msg
    LEFT JOIN tb_personnel per ON per.work_num = msg.work_num
    LEFT JOIN t_user t_u ON t_u.per_id = per.per_id
        where t_u.pkid=#{userId} and  msg.type='todo' and msg.status=0
  </select>

  <select id="queryTodoMsgLimit3" resultType="com.trasen.tsproject.model.TbMsg" parameterType="String">
    SELECT msg.* FROM tb_msg msg
    LEFT JOIN tb_personnel per ON per.work_num = msg.work_num
    LEFT JOIN t_user t_u ON t_u.per_id = per.per_id
        where t_u.pkid=#{userId} and  msg.type='todo' and msg.status=0 order by msg.send_time desc limit 3
  </select>


  <select id="queryMobileTransactList" parameterType="java.util.Map" resultType="com.trasen.tsproject.model.TbMsg">
     SELECT msg.* FROM tb_msg msg
    LEFT JOIN tb_personnel per ON per.work_num = msg.work_num
    LEFT JOIN t_user t_u ON t_u.per_id = per.per_id
        where t_u.pkid=#{userId} and msg.`type`='todo'
    and msg.status=#{status}
  </select>

</mapper>