<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trasen.tsproject.dao.TbOutputValueCountMapper" >
    <select id="getcountReportList" parameterType="com.trasen.tsproject.model.TbOutputValueCount" resultType="com.trasen.tsproject.model.TbOutputValueCount">
		select ht_no as htNo,ht_name as htName,customer_name as customerName,sum(total) as total,sum(finished) as finished,sum(unfinished) as unfinished from tb_output_value_count  where 1=1
        <if test="year!=null"> and `year`=#{year}</if>
		group by ht_no
    </select>

    <select id="getCountRByDept" parameterType="Map" resultType="com.trasen.tsproject.model.TbOutputValueCount">

    SELECT
	  dep_name AS NAME,
	  sum(total) AS total,
      (SELECT
	    sum(unfinished)
        FROM
	      tb_output_value_count
          WHERE
	        `year`=#{lastYear} and dep_name=t.dep_name) as lastUnFinished,
	  sum(finished) AS finished,
	  sum(unfinished) AS unfinished
      FROM
	    tb_output_value_count t
      WHERE
	    `year` = #{year} GROUP BY dep_name

    </select>

    <select id="getCountRByPro" parameterType="Map" resultType="com.trasen.tsproject.model.TbOutputValueCount">
        SELECT
	pro_name AS NAME,
	(
		SELECT
			sum(unfinished)
		FROM
			tb_output_value_count
		WHERE
			`year` = #{lastYear} and pro_name=t.pro_name) as lastUnFinished,
			pro_line AS proLine,
			sum(total) AS total,
			sum(finished) AS finished,
			sum(unfinished) AS unfinished
		FROM
			tb_output_value_count t
		WHERE
			`year` = #{year} GROUP BY pro_name order by pro_line

    </select>

    <select id="getCountRByProline" parameterType="Map" resultType="com.trasen.tsproject.model.TbOutputValueCount">
        SELECT
	pro_line AS NAME,
	(
		SELECT
			sum(unfinished)
		FROM
			tb_output_value_count
		WHERE
			`year` = #{lastYear} and pro_line=t.pro_line) as lastUnFinished,
			sum(total) AS total,
			sum(finished) AS finished,
			sum(unfinished) AS unfinished
		FROM
			tb_output_value_count t
		WHERE
			`year` = #{year} GROUP BY pro_line
    </select>


	<select id="getOutPutByDept" parameterType="Map" resultType="com.trasen.tsproject.model.TbOutputValue">
		select * from tb_output_value where created like CONCAT(#{year},'%') and dep_name=#{depName} and status=1 order by ht_no
	</select>

	<select id="getOutPutByPro" parameterType="Map" resultType="com.trasen.tsproject.model.TbOutputValue">
		select * from tb_output_value where created like CONCAT(#{year},'%') and pro_name=#{proName} and status=1 order by ht_no
	</select>

	<select id="getOutPutByProLine" parameterType="Map" resultType="com.trasen.tsproject.model.TbOutputValue">
		select * from tb_output_value where created like CONCAT(#{year},'%') and pro_line=#{proLine} and status=1 order by ht_no
	</select>



    <select id="getUnfinishdByDept" resultType="String" parameterType="com.trasen.tsproject.model.CountReportVo">
        select dep_name as name,sum(unfinished) as unfinished from tb_output_value_count where `year`=#{year} group by dep_name
    </select>

    <select id="getUnfinishdByPro" resultType="String" parameterType="com.trasen.tsproject.model.CountReportVo">
        select pro_name as name,sum(unfinished) as unfinished from tb_output_value_count where `year`=#{year} GROUP BY pro_name order by pro_line
    </select>

    <select id="getUnfinishdByProline" resultType="String" parameterType="com.trasen.tsproject.model.CountReportVo">
        select pro_line as name,sum(unfinished) as unfinished from tb_output_value_count where `year`=#{year} GROUP BY pro_line
    </select>




    <select id="countOutputValue" parameterType="String" resultType="com.trasen.tsproject.model.TbOutputValueCount">
        select ht_no,ht_name,customer_name,pro_code,pro_name,pro_line,dep_id,dep_name,total,sum(subtotal) as finished,total-sum(subtotal) as unfinished from tb_output_value
        where status=1 and created > #{year} and ht_no is not null and pro_code is not null
        GROUP BY ht_no,pro_code
    </select>

    <insert id="insertOutputValue" parameterType="com.trasen.tsproject.model.TbOutputValueCount">
        insert into tb_output_value_count (ht_no,ht_name,customer_name,sign_date,pro_code,pro_name,pro_line,
        dep_name,dep_id,total,finished,unfinished,`year`)
        values
        (#{htNo},#{htName},#{customerName},#{signDate},#{proCode},#{proName},#{proLine},
        #{depName},#{depId},#{total},#{finished},#{unfinished},#{year})
    </insert>

    <update id="updateOutputValue" parameterType="com.trasen.tsproject.model.TbOutputValueCount">
        update tb_output_value_count set finished=#{finished},unfinished=#{unfinished},updated=now()
        where ht_no=#{htNo} and pro_code=#{proCode} and `year` = #{year}
    </update>

    <select id="getOutputValue" parameterType="com.trasen.tsproject.model.TbOutputValueCount" resultType="com.trasen.tsproject.model.TbOutputValueCount">
        select * from tb_output_value_count where ht_no=#{htNo} and pro_code=#{proCode} and `year` = #{year}
    </select>


</mapper>