<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trasen.tsproject.dao.TbOutputValueMapper" >

  <select id="getProjectPlan" parameterType="Integer" resultType="com.trasen.tsproject.model.TbProjectPlan">
    select * from tb_project_plan where plan_id = #{planId}
  </select>

  <select id="getHtHandOver" parameterType="String" resultType="com.trasen.tsproject.model.TbHtHandover">
    select * from tb_ht_handover where pkid = #{handoverId}
  </select>

  <select id="getHtResolve" parameterType="Map" resultType="com.trasen.tsproject.model.TbHtResolve">
    select * from tb_ht_resolve where ht_no=#{changeNo} and pro_code = #{proCode}
  </select>
  
  <select id="getProduct" parameterType="String" resultType="com.trasen.tsproject.model.TbProduct">
    select * from tb_product where pro_code = #{proCode}
  </select>
  
  <insert id="insertOutputValue" parameterType="com.trasen.tsproject.model.TbOutputValue">
    insert into tb_output_value (ht_no,ht_name,customer_name,status,pro_code,pro_name,
    dep_name,dep_id,item_id,doc_name,`output`,subtotal,total,created,operator,pro_line,remark)
    values
    (#{htNo},#{htName},#{customerName},#{status},#{proCode},#{proName},
    #{depName},#{depId},#{itemId},#{docName},#{output},#{subtotal},#{total},now(),#{operator},#{proLine},#{remark})
  </insert>

  <update id="updateOutputValue" parameterType="com.trasen.tsproject.model.TbOutputValue">
    update tb_output_value set status = 1,updated = now(),operator = #{operator} where pkid = #{pkid}
  </update>
  
  <select id="queryOutputValueToDept" parameterType="com.trasen.tsproject.model.TbOutputValue" resultType="com.trasen.tsproject.model.OutputValueVo">
    select dep_id as id,dep_name as name,sum(subtotal) as totle from tb_output_value where 1=1
    <if test="depName!=null">
      AND dep_name LIKE CONCAT('%',#{depName},'%')
    </if>
    <if test="htName!=null">
      AND ht_name LIKE CONCAT('%',#{htName},'%')
    </if>
    <if test="status!=null">
      AND status = #{status}
    </if>
    and dep_id is not null 
    group by dep_id
  </select>

  <select id="queryOutputValueToHT" parameterType="com.trasen.tsproject.model.TbOutputValue" resultType="com.trasen.tsproject.model.OutputValueVo">
    select ht_no as id,ht_name as name,sum(subtotal) as totle from tb_output_value where 1=1
    <if test="depName!=null">
      AND dep_name LIKE CONCAT('%',#{depName},'%')
    </if>
    <if test="htName!=null">
      AND ht_name LIKE CONCAT('%',#{htName},'%')
    </if>
    <if test="status!=null">
      AND status = #{status}
    </if>
    and ht_no is not null
    group by ht_no
  </select>

  <select id="queryOutputValueToProLine" parameterType="com.trasen.tsproject.model.TbOutputValue" resultType="com.trasen.tsproject.model.OutputValueVo">
    select pro_line as id,pro_line as name,sum(subtotal) as totle from tb_output_value where 1=1
    <if test="depName!=null">
      AND dep_name LIKE CONCAT('%',#{depName},'%')
    </if>
    <if test="htName!=null">
      AND ht_name LIKE CONCAT('%',#{htName},'%')
    </if>
    <if test="status!=null">
      AND status = #{status}
    </if>
    and pro_line is not null
    group by pro_line
  </select>

  <select id="queryOutputValue" parameterType="com.trasen.tsproject.model.TbOutputValue" resultType="com.trasen.tsproject.model.TbOutputValue">
    select * from tb_output_value where 1=1
    <if test="depId!=null">
      and dep_id = #{depId}
    </if>
    <if test="htNo!=null">
      and ht_no = #{htNo}
    </if>
    <if test="status!=null">
      AND status = #{status}
    </if>
    <if test="proLine!=null">
      AND pro_line LIKE CONCAT('%',#{proLine},'%')
    </if>

  </select>

  <select id="queryProLine" resultType="com.trasen.tsproject.model.TbOutputValue">
    select pro_line,dep_id,dep_name from tb_product where pro_line is not null GROUP BY pro_line
  </select>

  <select id="queryHtPro" parameterType="String" resultType="com.trasen.tsproject.model.TbOutputValue">
    select r.pro_code,p.pro_name,p.pro_line,p.dep_id,p.dep_name,r.total from tb_ht_resolve r
    left join tb_product p on p.pro_code = r.pro_code where r.ht_no=#{htNo}
  </select>

  <select id="findOutputToHtNo" parameterType="String" resultType="Integer">
    select count(*) from tb_output_value where ht_no = #{htNo} and item_id is null
  </select>



</mapper>