<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trasen.tsproject.dao.TbPersonnelMapper" >
<select id="selectTbPersonnel" parameterType="String" resultType="com.trasen.tsproject.model.TbPersonnel">
   select per.* from tb_personnel per,t_user t_u where  t_u.per_id=per.per_id and t_u.pkid=#{userId}
</select>
   <select id="selectTbPersonnelList" parameterType="String" resultType="com.trasen.tsproject.model.Select">
      SELECT
	    per.work_num AS id,
	    per.NAME AS text
        FROM
	    tb_personnel per,tb_tag_personnel tag
        WHERE
        per.work_num=tag.work_num and tag.tag_id='|tag_handover_PD|' and tag_code like CONCAT('%',#{depId},'%')
   </select>
    
    <select id="selectTbuserByOpenId" parameterType="String" resultType="com.trasen.tsproject.model.TbUser">
    SELECT
	  t_u.pkid AS pkid,
	  t_u.`name` AS `name`,
	  t_u.password AS `password`,
	  t_u.display_name AS displayName,
	  t_u.per_id AS perId
    FROM
	tb_personnel per,
	t_user t_u,
	tb_weixin_user we
    WHERE
	t_u.per_id = per.per_id
    AND we.work_num = per.work_num
    AND we.open_id =#{openId} AND t_u.app_id='ts-mobile'
    </select>

    <select id="getParentTree" resultType="com.trasen.tsproject.model.TbTree">
        select * from tb_tree where parent is null limit 1
    </select>
    <select id="getDeptTreeList" parameterType="String" resultType="com.trasen.tsproject.model.TbTree">
        select * from tb_tree where parent = #{pkid} and is_vaild=1 and `type`='dept'
    </select>

    <select id="selectTwfDictByType" parameterType="String" resultType="com.trasen.tsproject.model.TwfDict">
        select * from twf_dict where `type`=#{type}
    </select>
</mapper>