<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trasen.tsproject.dao.TbPlanItemMapper" >
    <select id="selectExceptionPlan" parameterType="java.util.Map" resultType="com.trasen.tsproject.model.ExceptionPlan">
        SELECT
          item.pkid,
	      hand.ht_no,
	      hand.customer_name,
	      prop.pro_name,
	      prop.pro_code,
	      prop.actualize_manager,
	      item.stage_name,
          item.doc_name,
	      item.plan_time
      FROM
	    tb_plan_item item
      LEFT JOIN tb_project_plan prop ON prop.plan_id = item.plan_id
      LEFT JOIN tb_ht_handover hand ON hand.pkid = prop.handover_id where 1=1
      <if test="htNo!=null and htNo!=''"> and hand.ht_no =#{htNo}</if>
      <if test="customerName!=null and customerName!=''"> and hand.customer_name like CONCAT('%',#{customerName},'%')</if>
      <if test="proName!=null and proName!=''"> and prop.pro_name like CONCAT('%',#{proName},'%')</if>
      <if test="status==0"></if>
      <if test="status==1"> and date(now())>item.plan_time and item.is_submit=0</if>
      <if test="status==2"> and item.is_submit=1 and item.submit_time>item.plan_time</if>
      <if test="dtStart!=null and dtStart!=''"> and  <![CDATA[  #{dtStart}<=item.plan_time]]></if>
      <if test="dtEnd!=null and dtEnd!=''">and <![CDATA[ #{dtEnd}>=item.plan_time]]></if>
      <if test="checkTagCount!=null"> and
          #{checkTagCount}=(select count(*) from tb_plan_check ch where ch.check_tag in
          <foreach item="item1" index="index" collection="checkTag" open="(" separator="," close=")">
          #{item1}
          </foreach>  and item_id=item.pkid and `status`=1)</if>
      <if test="noCheckTagCount!=null"> and
          #{noCheckTagCount}=(select count(*) from tb_plan_check ch where ch.check_tag in
          <foreach item="item2" index="index" collection="noCheckTag" open="(" separator="," close=")">
              #{item2}
          </foreach>
          and item_id=item.pkid and `status`=0) </if>
      order by item.pkid desc
    </select>

    <select id="queryTemplatePlanItems" parameterType="Map" resultType="com.trasen.tsproject.model.TbPlanItem">
        select s.`name` as stageName,s.poit,d.`name` as docName,d.is_output as isOutput,d.output from tb_plan_template t
        left join tb_plan_template_item i on t.pkid = i.temp_id
        left join twf_stage s on s.pkid= i.stage_id
        left join twf_stage_doc d on d.pkid = i.stage_doc_id
        where t.pro_code=#{proCode} and t.type=#{type}
    </select>

    <select id="queryPlanItems" parameterType="Map" resultType="com.trasen.tsproject.model.TbPlanItem">
        select * from tb_plan_item where plan_id = #{planId} and detail_id = #{detailId}
    </select>

    <insert id="insertPlanItem" parameterType="com.trasen.tsproject.model.TbPlanItem">
        <selectKey resultType="Integer" keyProperty="pkid">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tb_plan_item (plan_id,detail_id,stage_name,poit,doc_name,`output`,is_output,created,operator,is_update)
        values (#{planId},#{detailId},#{stageName},#{poit},#{docName},#{output},#{isOutput},now(),#{operator},0)
    </insert>

    <update id="updatePlanItemTime" parameterType="com.trasen.tsproject.model.TbPlanItem">
        update tb_plan_item set plan_time=#{planTime},updated=now(),operator=#{operator},is_update = #{isUpdate} where pkid = #{pkid}
    </update>

    <select id="getPlanItem" parameterType="Integer" resultType="com.trasen.tsproject.model.TbPlanItem">
        select * from tb_plan_item where pkid = #{pkid}
    </select>

    <update id="updatePlanItemDocFile" parameterType="com.trasen.tsproject.model.TbPlanItem">
        update tb_plan_item set submitter = #{submitter},is_submit = 1,submit_time=now(),file_name = #{fileName} where pkid = #{pkid}
    </update>
</mapper>