<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trasen.tsproject.dao.TbPlanDetailMapper" >

    <select id="getPlanDetail" parameterType="Integer" resultType="com.trasen.tsproject.model.TbPlanDetail">
        select * from tb_plan_detail where plan_id = #{planId} limit 1
    </select>

    <select id="getProjectPlan" parameterType="Integer" resultType="com.trasen.tsproject.model.TbProjectPlan">
        select * from tb_project_plan where plan_id = #{planId}
    </select>

    <insert id="insertPlanDetail" parameterType="com.trasen.tsproject.model.TbPlanDetail">
        <selectKey resultType="Integer" keyProperty="pkid">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tb_plan_detail (plan_id,created,operator) values (#{planId},now(),#{operator})
    </insert>

    <update id="updatePlanDetail" parameterType="com.trasen.tsproject.model.TbPlanDetail">
        update tb_plan_detail set total=#{total},plan_cycle=#{planCycle},cycle=#{cycle},
        take_dase=#{takeDase},init_take=#{initTake},end_take=#{endTake},
        init_hard=#{initHard},end_hard=#{endHard},updated=now(),operator=#{operator}
        where pkid=#{pkid}
    </update>

</mapper>