<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trasen.tsproject.dao.TbProModuleMapper">
  <select id="selectProModule" parameterType="String" resultType="com.trasen.tsproject.model.TbProModule">
    select * from tb_pro_module where pro_code=#{proCode} and is_vaild=1
  </select>

  <select id="selectCleckModule" parameterType="String" resultType="String">
    select pro.mod_id as modId from tb_ht_module ht,tb_pro_module pro where ht.mod_id=pro.mod_id and ht.ht_no=#{htNo}
  </select>
  <select id="selectProCode" parameterType="String" resultType="com.trasen.tsproject.model.TbProModule">
    select * from tb_pro_module where mod_id=#{modId}
  </select>
  <select id="getOldTbProModule" parameterType="String" resultType="String">
    select CONCAT(pro.mod_id,',',pro.mod_name) from tb_ht_module mo,tb_pro_module pro where mo.mod_id=pro.mod_id and mo.ht_no=#{htNo}
  </select>
</mapper>