<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trasen.tsproject.dao.TbProjectPlanMapper" >
    <insert id="saveProjectPlan" parameterType="com.trasen.tsproject.model.TbProjectPlan">
        insert into tb_project_plan(handover_id,handover_type,pro_name,pro_code) values(#{handoverId},#{handoverType},#{proName},#{proCode})
    </insert>
    
    <select id="getProjectPlanByHandOverId" parameterType="String" resultType="com.trasen.tsproject.model.TbProjectPlan">
        select * from tb_project_plan where handover_id=#{handoverId}
    </select>
    
    <update id="updateProjectActualizePlan" parameterType="com.trasen.tsproject.model.TbProjectPlan">
        update tb_project_plan set actualize_manager=#{actualizeManager},work_num=#{workNum},survey_time=#{surveyTime},approach_time=#{approachTime},online_time=#{onlineTime},check_time=#{checkTime},operator=#{operator},created=#{created} where plan_id=#{planId}
    </update>


    <select id="selectCountManage" parameterType="String" resultType="int">
        select count(*) from tb_project_plan where handover_id=#{handoverId} and actualize_manager is not null
    </select>

    <select id="selectHandOverByPlanId" parameterType="Integer" resultType="com.trasen.tsproject.model.TbHtHandover">
        select hand.* from tb_project_plan pl,tb_ht_handover hand where hand.pkid=pl.handover_id and pl.plan_id=#{planId}
    </select>
</mapper>