<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trasen.tsproject.dao.TbTemplateMapper" >
    <select id="getTemplate" parameterType="String" resultType="com.trasen.tsproject.model.TbTemplate">
      select * from tb_template where type=#{type} limit 1
    </select>

    <select id="getTemplateList" resultType="com.trasen.tsproject.model.TbTemplate" parameterType="com.trasen.tsproject.model.TbTemplate">
        select * from tb_template
        where 1=1
        <if test="name!=null"> and (`name` like CONCAT('%',#{name},'%') or `type` like CONCAT('%',#{type},'%'))</if>
    </select>


    <update id="updateTemplate" parameterType="com.trasen.tsproject.model.TbTemplate">
        update tb_template set content=#{content},updated = now(),operator=#{operator} where pkid=#{pkid}
    </update>

    <insert id="insertTemplate" parameterType="com.trasen.tsproject.model.TbTemplate">
        insert into tb_template_log (`name`,`type`,content,remark,updated,operator)
        values (#{name},#{type},#{content},#{remark},now(),#{operator})
    </insert>
</mapper>