<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trasen.tsproject.dao.TbTemplateMapper" >
    <select id="getTemplate" parameterType="Integer" resultType="com.trasen.tsproject.model.TbTemplate">
      select * from tb_template where pkid=#{tid}
    </select>

    <select id="getTemplateList" resultType="com.trasen.tsproject.model.TbTemplate" parameterType="com.trasen.tsproject.model.TbTemplate">
        select * from tb_template
        where 1=1
        <if test="name!=null"> and (`name` like CONCAT('%',#{name},'%') or `type` like CONCAT('%',#{type},'%'))</if>
    </select>
</mapper>