<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trasen.tsproject.dao.TwfStageMapper" >
    <select id="selectTwfStageList" resultType="com.trasen.tsproject.model.TwfStage">
        select * from twf_stage where is_vaild=1  order by px ASC
    </select>

    <insert id="saveStageTemp" parameterType="com.trasen.tsproject.model.TwfStage">
        insert into twf_stage(`name`,poit,created,operator,px) values(#{name},#{poit},#{created},#{operator},#{px})
    </insert>

    <update id="deleteStageTemp" parameterType="Integer">
        update twf_stage set is_vaild=0 where pkid=#{pkid}
    </update>
</mapper>